<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <p style="color: red;"> oi, {{name}}! (testando o css) </p>
        <form action="/delete_multiple" method="post">
            <table>
                {{#pessoas}}
                <tr> 
                    <td> <input type="checkbox" name="id" value="{{id}}"> </td> 
                    <td> <a href="/delete/{{id}}"> Deletar </a> </td> 
                    <td> <a href="/screen_update/{{id}}"> Editar </a> </td> 
                    <td>{{nome}}</td> 
                    <td>{{sobrenome}}</td>
                </tr>
                {{/pessoas}}
            </table> <br>
            <input type="submit" value="Excluir Multiplo (selecione os checkboxes)">
        </form>
        <br>
        <a href="/screen_insert"> Adicionar </a>
        
        <br>
        <br>
           <a href="/teste.html"> Link para html estatico... </a>
        <br>
        <br>
        <button onclick="alert('testando o js')"> Teste o js</button>
    </body>
</html>